<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Update Products</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg">
    <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <img src="/admin/assets/imgs/theme/Logo2.png" class="logo" alt="LucidLayers">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">users</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/newproducts"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/Categories"> <i
                            class="icon material-icons md-monetization_on"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Product <Details></Details></h2>
                    </div>   
                    <form method="post" enctype="multipart/form-data">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">Product Title</label>
                                    <input type="text" placeholder="Type here" class="form-control" value="<%= data.name %>" name="title" id="product_title">
                                </div>
                                <div class="row gx-3">
                                    <div class="col-md-4 mb-3">
                                        <label for="product_material" class="form-label">Material</label>
                                        <input type="text" placeholder="Type here" name="material" value="<%= data.material  %>" class="form-control" id="product_material">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="product_color" class="form-label">Color</label>
                                        <input type="text" placeholder="Type here" class="form-control" value="<%= data.color %>" name="color" id="product_color">
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="mb-4">
                                                <label for="product_size_variations" class="form-label">Size Variations</label>
                                                <div id="size-variations-container">
                                                    <% data.sizeVariations.forEach((variation, index) => { %>
                                                        <div class="size-variation">
                                                            <select class="form-select" name="sizes[]" required>
                                                                <option value="<%= variation.size %>" selected><%= variation.size %></option>
                                                              
                                                            </select>
                                                            <label for="">Price:

                                                                <input type="number" name="prices[]" value="<%= variation.price %>" placeholder="Price" required>
                                                            </label>
                                                            <label for="">Stock:
                                                                <input type="number" name="stocks[]" value="<%= variation.stock %>" placeholder="Stock" required>
                                                            </label>
                                                        </div>
                                                    <% }); %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                                <div class="mb-4">
                                    <label for="product_sleeve" class="form-label">Sleeve Length</label>
                                    <!-- <input type="text" placeholder="Type here" class="form-control" name="sleeve" id="product_sleeve"> -->
                                    <select class="form-select" name="sleeve" id="product_sleeve">
                                    <option value="" selected><%= data.sleeveLength %></option>
                                </select>

                                </div>
                            </div>
                        </div> <!-- Card: Basic Info End -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control"  name="description" rows="4"><%= data.description %></textarea>
                                </div>
                            </div>
                        </div> <!-- Card: Description End -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Images</label>
                                    <% if (data.images.length>0){ %>
                                        <% for(let i =0;i<data.images.length;i++){  %>
                                            <img src="/uploads/<%=data.images[i] %>" class="img-w-20 img-thumbnail" >
                                    <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div> <!-- Card: Images End -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_price" class="form-label">Price</label>
                                    <input type="text" placeholder="Type here" class="form-control" value="<%= data.price %>" name="price" id="product_price">
                                </div>
                                <div class="mb-4">
                                    <label for="product_stock" class="form-label">Stock</label>
                                    <input type="text" placeholder="Type here" class="form-control" value="<%= data.stock %>" name="stock" id="product_stock">
                                </div>
                            </div>
                        </div> <!-- Card: Price & Stock End -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_category" class="form-label">Category</label>
                                    <select class="form-select" name="category" id="product_category">
                                        <option value="<%= data.category %>" selected><%= data.category %></option>
                                    </select>
                                </div>
                            </div>
                        </div> <!-- Card: Catego
                        <div class="mb-4 text-center">
                            <div id="message"></div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <script src="/admin/assets/js/vendor.js"></script>
    <script src="/admin/assets/js/main.js"></script>
</body>

</html>
