<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/toro/toro/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:00 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Toro - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/user/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/user/assets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="/user/assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="/user/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <style>
        .unavailable {
    color: gray; /* Change the color to indicate unavailability */
    text-decoration: line-through; /* Optional: strike-through effect */
}
            .order-summary-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
    }

    .order-summary {
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .order-summary__title {
        background-color: #343a40;
        color: white;
        padding: 15px 20px;
        margin: 0;
        font-size: 1.5rem;
    }

    .order-summary__content {
        padding: 20px;
    }

    .order-summary__info > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .order-summary__header {
        font-weight: bold;
        border-bottom: 2px solid #dee2e6;
        padding-bottom: 10px;
    }

    .order-summary__items {
        max-height: 200px;
        overflow-y: auto;
    }

    .order-summary__item {
        padding: 5px 0;
        border-bottom: 1px solid #dee2e6;
    }

    .order-summary__total {
        font-weight: bold;
        font-size: 1.2rem;
        border-top: 2px solid #dee2e6;
        padding-top: 10px;
    }

    .order-summary__coupon {
        margin-top: 20px;
    }

    .order-summary__applied-coupon {
        display: flex;
        margin-bottom: 10px;
    }

    .order-summary__applied-coupon input {
        flex-grow: 1;
        padding: 8px;
        border: 1px solid #ced4da;
        border-radius: 4px 0 0 4px;
    }

    .order-summary__remove-coupon {
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 0 4px 4px 0;
    }

    .order-summary__view-coupon {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .order-summary__payment {
        margin-top: 20px;
    }

    .order-summary__payment-title {
        margin-bottom: 10px;
    }

    .order-summary__payment-option {
        margin-bottom: 10px;
    }

    .order-summary__payment-option input[type="radio"] {
        margin-right: 10px;
    }

    .order-summary__terms {
        margin-top: 20px;
        font-size: 0.9rem;
    }

    .order-summary__terms-checkbox {
        display: flex;
        align-items: flex-start;
        margin-top: 10px;
    }

    .order-summary__terms-checkbox input {
        margin-right: 10px;
        margin-top: 5px;
        height: 15px;
    }

    .required {
        color: #dc3545;
    }

    .order-summary__place-order {
        margin-top: 20px;
        padding: 0 20px 20px;
    }

    .order-summary__place-order button {
        width: 100%;
        padding: 15px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 1.1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .order-summary__place-order button:hover {
        background-color: #218838;
    }

    @media (max-width: 768px) {
        .order-summary-container {
            padding: 10px;
        }

        .order-summary__title {
            font-size: 1.2rem;
        }

        .order-summary__content {
            padding: 15px;
        }

        .order-summary__total {
            font-size: 1.1rem;
        }
    }


        #toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.cart-shipping-update-wrapper {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add some padding */
    background-color: #f9f9f9; /* Light background color */
    border: 1px solid #e0e0e0; /* Light border */
    border-radius: 5px; /* Rounded corners */
}

.discount-code {
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Center items vertically */
}

.coupon-input {
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
    padding: 8px; /* Padding inside the input */
    margin-right: 5px; /* Space between input and remove button */
    width: 150px; /* Fixed width for input */
    font-size: 14px; /* Font size */
}

.remove-coupon {
    background: none; /* No background */
    border: none; /* No border */
    color: #ff0000; /* Red color for the remove button */
    font-size: 20px; /* Font size */
    cursor: pointer; /* Pointer cursor */
    margin-right: 10px; /* Space between remove button and view coupon button */
}

.remove-coupon:hover {
    color: #cc0000; /* Darker red on hover */
}

.coupon-btn {
    background-color: #007bff; /* Primary button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    padding: 8px 12px; /* Padding */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Smooth background color transition */
    width: 100%;
}

.coupon-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.toast {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 0.5s ease;
}
   /* Modal Background */
.modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7); 
    overflow: auto; 
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    margin: 10% auto; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; 
    max-width: 500px; 
    position: relative;
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}

/* Heading Style */
h2 {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333;
}

/* Coupon List */
#couponList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* List Item Style */
#couponList li {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

/* Radio Button Style */
input[type="radio"] {
    margin-right: 10px;
    width: 15px; /* Smaller radio button */
    height: 15px; /* Smaller radio button */
    cursor: pointer;
}

/* Apply Button Style */
.apply-button {
    background-color: #28a745; /* Green */
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #218838; /* Darker green */
}


        .checkbox-label {
            position: relative;
            padding-left: 30px; /* Space for the custom checkbox */
            cursor: pointer;
            font-size: 16px; /* Adjust font size as needed */
        }

        .checkbox-label::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 6px; /* Width of the custom checkbox */
            height: 16px; /* Height of the custom checkbox */
            border: 2px solid #000; /* Border color */
            background-color: white; /* Background color */
            border-radius: 3px; /* Rounded corners */
        }

        .custom-checkbox:checked + .checkbox-label::before {
            background-color: green; /* Background color when checked */
            border-color: green; /* Border color when checked */
        }

        .custom-checkbox:checked + .checkbox-label::after {
            content: '';
            position: absolute;
            left: 4px; /* Position of the checkmark */
            top: 8px; /* Position of the checkmark */
            width: 4px; /* Width of the checkmark */
            height: 8px; /* Height of the checkmark */
            border: solid white; /* Checkmark color */
            border-width: 0 2px 2px 0; /* Checkmark shape */
            transform: rotate(45deg); /* Rotate to form a checkmark */
        }
    </style>
</head>

<body>

    <div class="main-wrapper">
        <header class="header-area section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo logo-width">
                            <a href="index.html">
                                <img src="/user/assets/images/logo/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                        <div class="main-menu menu-lh-1 main-menu-padding-1">
                            <nav>
                                <ul>
                                    <li class="position-static"><a class="active" href="/user/home">Home</a>
                                    </li>
                                    <li><a href="#">Pages </a>
                                    </li>
                                    <li><a href="/user/shop">Shop </a>
                                        
                                    </li>
                                    <li><a href="shop-collection-1.html">Collections <i class="fa fa-angle-down"></i> </a>
                                    </li>
                                    <li><a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
                                    </li>
                                    <li><a href="shop-instagram.html">Instagram Shop </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="header-right-wrap header-right-flex">
                            <div class="same-style header-wishlist">
                                <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="same-style cart-wrap">
                                <a href="/user/cart" >
                                    <i class="dlicon shopping_bag-20"></i>
                                    <!-- <span class="count-style">02</span> -->
                                </a>
                            </div>
                            <div class="same-style header-search">
                                <a class="search-active" href="#">
                                    <i class="dlicon ui-1_zoom"></i>
                                </a>
                            </div>
                            <div class="same-style header-off-canvas">
                                <a class="header-aside-button" href="#">
                                    <i class="dlicon ui-3_menu-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="header-small-mobile section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="mobile-logo logo-width">
                            <a href="index.html">
                                <img alt="" src="/user/assets/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mobile-header-right-wrap">
                            <div class="header-right-wrap header-right-flex">
                                <div class="same-style cart-wrap">
                                    <a href="/user/cart" >
                                        <i class="dlicon shopping_bag-20"></i>
                                        <!-- <span class="count-style">02</span> -->
                                    </a>
                                </div>
                                <div class="same-style header-off-canvas">
                                    <a class="header-aside-button" href="#">
                                        <i class="dlicon ui-3_menu-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search start -->
        <div class="search-content-wrap main-search-active">
            <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
            <div class="search-content">
                <p>Start typing and press Enter to search</p>
                <form class="search-form" action="#">
                    <input type="text" placeholder="Search">
                    <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                </form>
            </div>
        </div>
        <!-- mini cart start -->
    
        <!-- aside start -->
        <div class="header-aside-active">
            <div class="header-aside-wrap">
                <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="header-aside-content">
                    <div class="mobile-menu-area">
                        <div class="mobile-search">
                            <form class="search-form" action="#">
                                <input type="text" placeholder="Search entire store…">
                                <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                            </form>
                        </div>
                        <div class="mobile-menu-wrap">
                            <!-- mobile menu start -->
                            <div class="mobile-navigation">
                                <!-- mobile menu navigation start -->
                                <nav>
                                    <ul class="mobile-menu">
                                        <li class="menu-item-has-children"><a href="index.html">Home</a>
                                            <ul class="dropdown">
                                                <li class="menu-item-has-children"><a href="#">Demo Group 01</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index.html">Home 01</a></li>
                                                        <li><a href="index-2.html">Home 02</a></li>
                                                        <li><a href="index-3.html">Home 03</a></li>
                                                        <li><a href="index-4.html">Home 04</a></li>
                                                        <li><a href="index-5.html">Home 05</a></li>
                                                        <li><a href="index-6.html">Home 06</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Demo Group 02</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index-7.html">Home 07</a></li>
                                                        <li><a href="index-8.html">Home 08</a></li>
                                                        <li><a href="index-9.html">Home 09</a></li>
                                                        <li><a href="index-10.html">Home 10</a></li>
                                                        <li><a href="index-11.html">Home 11</a></li>
                                                        <li><a href="index-12.html">Home 12</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Demo Group 03</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index-13.html">Home 13</a></li>
                                                        <li><a href="index-14.html">Home 14</a></li>
                                                        <li><a href="index-15.html">Home 15</a></li>
                                                        <li><a href="index-16.html">Home 16</a></li>
                                                        <li><a href="index-17.html">Home 17</a></li>
                                                        <li><a href="index-18.html">Home 18</a></li>
                                                        <li><a href="index-19.html">Home 19</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="dropdown">
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="contact-us.html">Contact Page</a></li>
                                                <li><a href="404.html">404 Page</a></li>
                                                <li><a href="comming-soon.html">Comming Soon 01</a></li>
                                                <li><a href="comming-soon-2.html">Comming Soon 02</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children "><a href="shop-fullwide.html">shop</a>
                                            <ul class="dropdown">
                                                <li class="menu-item-has-children"><a href="#">Shop Layout</a>
                                                    <ul class="dropdown">
                                                        <li><a href="shop-fullwide.html">Shop Fullwidth</a></li>
                                                        <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                                                        <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                                                        <li><a href="shop-3-col.html">Shop 03 Columns</a></li>
                                                        <li><a href="shop-2-col.html">Shop 02 Columns</a></li>
                                                        <li><a href="shop-collection-1.html">Shop Collection 01</a></li>
                                                        <li><a href="shop-collection-2.html">Shop Collection 02</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Product Layout</a>
                                                    <ul class="dropdown">
                                                        <li><a href="product-details.html">Single 01</a></li>
                                                        <li><a href="product-details-2.html">Single 02</a></li>
                                                        <li><a href="product-details-group.html">Grouped</a></li>
                                                        <li><a href="product-details-sticky.html">Sticky Info</a></li>
                                                        <li><a href="product-details-configurable.html">Configurable</a></li>
                                                        <li><a href="product-details-thumbnail.html">Thumbnail</a></li>
                                                        <li><a href="product-details-video.html">Video</a></li>
                                                        <li><a href="product-details-affiliate.html">Affiliate</a></li>
                                                        <li><a href="product-details-sidebar.html">Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Shop Pages </a>
                                                    <ul class="dropdown">
                                                        <li><a href="my-account.html">My Account</a></li>
                                                        <li><a href="checkout.html">Check Out</a></li>
                                                        <li><a href="cart.html">Shopping Cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="order-tracking.html">Order Tracking</a></li>
                                                        <li><a href="compare.html">Compare</a></li>
                                                        <li><a href="login-register.html">login / register</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children "><a href="shop-collection-1.html">Collection</a>
                                            <ul class="dropdown">
                                                <li><a href="shop-collection-1.html">Shop Collection 01</a></li>
                                                <li><a href="shop-collection-2.html">Shop Collection 02</a></li>
                                                <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children "><a href="blog.html">Blog</a>
                                            <ul class="dropdown">
                                                <li><a href="blog.html">Blog Style 01</a></li>
                                                <li><a href="blog-2.html">Blog Style 02</a></li>
                                                <li><a href="blog-3.html">Blog Style 03</a></li>
                                                <li><a href="blog-details.html">Single Post Style 01</a></li>
                                                <li><a href="blog-details-2.html">Single Post Style 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop-instagram.html">Instagram Shop </a></li>
                                    </ul>
                                </nav>
                                <!-- mobile menu navigation end -->
                            </div>
                            <!-- mobile menu end -->
                        </div>
                        <div class="mobile-curr-lang-wrap">
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-language-active" href="#">Language <i class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown lang-dropdown-active">
                                    <ul>
                                        <li><a href="#">English (US)</a></li>
                                        <li><a href="#">English (UK)</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-currency-active" href="#">Currency <i class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown curr-dropdown-active">
                                    <ul>
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">EUR</a></li>
                                        <li><a href="#">Real</a></li>
                                        <li><a href="#">BDT</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-account-active" href="#">My Account <i class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown account-dropdown-active">
                                    <ul>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Creat Account</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-aside-menu">
                        <nav>
                            <ul>
                                <li><a href="/user/account">Account </a></li>

                                <li><a href="#">About Toro</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Collection</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">New Look</a></li>
                            </ul>
                        </nav>
                    </div>
                    <img src="/user/assets/images/icon-img/payments.png" alt="payment">
                    <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus.</p>
                    <div class="aside-contact-info">
                        <ul>
                            <li><i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00</li>
                            <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
                            <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
                            <li><i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh Hoang - Ha Noi - Viet Nam</li>
                        </ul>
                    </div>
                    <div class="social-icon-style mb-25">
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                    </div>
                    <div class="copyright">
                        <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h2>Checkout</h2>
                    </div>
                    <ul>
                        <li>
                            <a href="/user/home">Home </a>
                        </li>
                        <li><span> &gt; </span></li>
                        <li class="/user/checkout-order">Checkout </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- checkout start -->
        <div class="checkout-main-area pt-100 pb-100">
            <div class="container">
                <!-- <div class="customer-zone mb-30">
                    <p class="cart-page-title">Have a coupon? <a class="checkout-click" href="#">Click here to enter your code</a></p>
                    <div class="checkout-login-info">
                        <p>If you have a coupon code, please apply it below.</p>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <input type="submit" value="Apply Coupon">
                        </form>
                    </div>
                </div> -->
                <div class="row">
                    <% if(address.length > 0) { %>
                        <% for(let i = 0; i < address.length; i++) { %>
                
                            <div class="col-md-4 col-sm-6 mb-4">
                                <address style="border: 1px solid #ddd; padding: 15px; border-radius: 5px;">
                                    <input style="height: 15px;width: 15px;" type="radio"Checked  name="addressid" id="addressid" value="<%= address[i]._id %>">
                                    <p><strong><%= address[i].firstName %> <%= address[i].lastName %></strong></p>
                                    <p><%= address[i].street %>, <%= address[i].apartment %><br> <%= address[i].city %>, <%= address[i].district %> <%= address[i].zip %></p>
                                    <p>Mobile: <%= address[i].phone %></p>
                                </address> 
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="checkout-wrap">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="billing-info-wrap mr-100">
                                <h3>Billing Details</h3>
                                <div class="row">
                                    <form id="addressForm" action="/user/checkout-order/add-address" method="post" onsubmit="return validateForm(event)">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info mb-25">
                                                    <label>First name <abbr class="required" title="required">*</abbr></label>
                                                    <input type="text" name="firstName" required minlength="2" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info mb-25">
                                                    <label>Last name <abbr class="required" title="required">*</abbr></label>
                                                    <input type="text" name="lastName" required minlength="2" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="billing-info mb-25">
                                                    <label>Company name (optional)</label>
                                                    <input type="text" name="companyName" placeholder="Company Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="billing-info mb-25">
                                                    <label>Street address <abbr class="required" title="required">*</abbr></label>
                                                    <input class="billing-address" name="street" id="street" placeholder="House number and street name" type="text" required>
                                                    <input placeholder="Apartment, suite, unit etc. (optional)" name="apartment" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="billing-info mb-25">
                                                    <label>Town / City <abbr class="required" title="required">*</abbr></label>
                                                    <input type="text" name="city" id="city" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="billing-info mb-25">
                                                    <label>District <abbr class="required" title="required">*</abbr></label>
                                                    <input type="text" name="district" id="district" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="billing-info mb-25">
                                                    <label>State <abbr class="required" title="required">*</abbr></label>
                                                    <input class="billing-address" placeholder="State" name="state" id="state" type="text" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="billing-info mb-25">
                                                    <label>Country <abbr class="required" title="required">*</abbr></label>
                                                    <input class="billing-address" placeholder="Country" name="country" id="country" type="text" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info mb-25">
                                                    <label>Postcode / ZIP (optional)</label>
                                                    <input type="number" name="zip" id="zip" min="100000" max="999999" placeholder="6-digit ZIP Code">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info mb-25">
                                                    <label>Phone <abbr class="required" title="required">*</abbr></label>
                                                    <input type="tel" name="phone" id="phone" required pattern="[0-9]{10}" placeholder="10-digit Phone Number">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 text-center">
                                                <div class="Place-order mt-30">
                                                    <button type="submit" style="background-color: black; color: white; padding: 10px 20px; font-size: 16px; border: none; border-radius: 5px;">
                                                        Add new address
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                                <div class="additional-info-wrap">
                                    <h3>Additional information</h3>
                                    <label>Order notes (optional)</label>
                                    <textarea placeholder="Notes about your order, e.g. special notes for delivery. " name="message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="order-summary-container">
                            <div class="order-summary">
                                <h2 class="order-summary__title">Your Order</h2>
                                <div class="order-summary__content">
                                    <div class="order-summary__info">
                                        <div class="order-summary__header">
                                            <span>Product</span>
                                            <span>Total</span>
                                        </div>
                                        <div class="order-summary__items">
                                            <% if (cart && cart.cartItems.length > 0) { %>
                                                <% cart.cartItems.forEach(item => { %>
                                                    <div class="order-summary__item">
                                                        <span><%= item.product.name %> X <%= item.quantity %></span>
                                                        <span>₹<%= item.price %></span>
                                                    </div>
                                                <% })} %>
                                        </div>
                                        <div class="order-summary__subtotal">
                                            <span>Subtotal</span>
                                            <span><%= cart.totalQuantity %></span>
                                        </div>
                                        <div class="order-summary__discount">
                                            <span>Discount</span>
                                            <span>₹<%= cart.discount %></span>
                                        </div>
                                        <div class="order-summary__delivery">
                                            <span>Delivery Charge</span>
                                            <span>₹0</span>
                                        </div>
                                        <div class="order-summary__total">
                                            <span>Total</span>
                                            <span>₹<%= cart.totalPrice %></span>
                                        </div>
                                    </div>
                                    <div class="order-summary__coupon">
                                        <% if (cart.appliedCoupon) { %> 
                                            <div class="order-summary__applied-coupon">
                                                <input type="text" name="coupon" value="<%= cart.appliedCoupon %>" disabled>
                                                <button class="order-summary__remove-coupon" type="button" id="removeCouponBtn" aria-label="Remove coupon">✖</button>
                                            </div>
                                        <% } %>
                                        <button class="coupon-btn" type="button">View Coupon</button>
                                    </div>
                                    <div class="order-summary__payment">
                                        <h3 class="order-summary__payment-title">Select Payment Method:</h3>
                                        <div class="order-summary__payment-option">
                                            <input type="radio" id="cod" name="paymentMethod" value="Pay On Delivery" checked>
                                            <label for="cod">Cash on Delivery</label>
                                            <span id="codUnavailableMessage" style="color: red; display: none;">(Unavailable)</span>
                                        </div>
                                        <div class="order-summary__payment-option">
                                            <input type="radio" id="razorpay" name="paymentMethod" value="Razorpay">
                                            <label for="razorpay">Online Payment (Razorpay)</label>
                                        </div>
                                        <div class="order-summary__payment-option">
                                            <input type="radio" id="wallet" name="paymentMethod" value="Wallet">
                                            <label for="razorpay">Pay from Wallet</label>
                                        </div>
                                        <div id="codMessage" style="color: red; display: none;">
                                            <strong>Note:</strong> Cash on Delivery is not available for orders below ₹1000.
                                        </div>
                                    </div>
                                    <div class="order-summary__terms">
                                        <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="#">privacy policy</a>.</p>
                                        <div class="order-summary__terms-checkbox">
                                            <input type="checkbox" id="termsAndConditions" class="custom-checkbox" name="termsAndConditions" required style="height: 16px; width: 6px;">
                                            <label for="termsAndConditions">I have read and agree to the website <a href="#">terms and conditions</a><span class="required">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-summary__place-order">
                                    <button type="button" onclick="placeOrder()">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Structure -->
<div id="couponModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <h2>Available Coupons</h2>
        <ul id="couponList"></ul>
        <button id="applyCouponBtn" class="apply-button">Apply Coupon</button>
    </div>
</div>
        <!-- checkout end -->
        <footer class="footer-area section-padding-1 border-top-3">
            <div class="container-fluid">
                <div class="footer-top pt-100 pb-60">
                    <div class="row">
                        <div class="footer-column footer-width-24">
                            <div class="footer-widget footer-about mb-30">
                                <a href="index.html">
                                    <img src="/user/assets/images/logo/logo.png" alt="logo">
                                </a>
                                <p>Lorem ipsum dolor sit amet, magna habemus ius ad, qui minimum voluptar</p>
                                <div class="social-icon-style-2 social-icon-hm4">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-column footer-width-12">
                            <div class="footer-widget footer-info-list-2 mb-30">
                                <h3 class="footer-title">Company Link</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Help Center</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">The Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-column footer-width-14">
                            <div class="footer-widget footer-info-list-2 mb-30">
                                <h3 class="footer-title">Userful Link</h3>
                                <ul>
                                    <li><a href="#">Guides & Articles</a></li>
                                    <li><a href="#">Customer Reviews</a></li>
                                    <li><a href="#">Coupon Codes</a></li>
                                    <li><a href="#">Military Discount</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-column footer-width-19">
                            <div class="footer-widget footer-info-list-2 footer-contect mb-30">
                                <h3 class="footer-title">Contact info</h3>
                                <ul>
                                    <li><i class="dlicon ui-2_time-clock"></i> Monday - Friday: 9:00 - 19:00</li>
                                    <li><i class="dlicon ui-1_email-83"></i> info@example.com</li>
                                    <li><i class="dlicon tech-2_rotate"></i> (+612) 2531 5600</li>
                                    <li><i class="dlicon ui-1_home-simple"></i> PO Box 1622 Colins Street West Victoria 8077 Australia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-column footer-width-29 mb-30">
                            <div class="contact-page-map">
                                <div id="contact-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.838709675939!2d144.95320007668528!3d-37.817246734238516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sus!4v1670477011653!5m2!1sen!2sus" style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-botoom">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright-2 text-center">
                                <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="support-lists">
            <ul>
                <li><a href="#"><i class="dlicon ui-3_chat-46"></i></a></li>
                <li><a href="#"><i class=" dlicon ui-3_phone"></i></a></li>
                <li><a href="#"><i class="dlicon ui-1_email-85"></i></a></li>
            </ul>
        </div>
        <div class="view-demo-area">
            <a class="view-demo-btn-active" href="#">More Demos</a>
            <div class="view-demo-aside-active">
                <div class="view-demo-wrap">
                    <div class="view-demo-tab-list nav">
                        <a class="active" href="#view-demo-1" data-bs-toggle="tab">
                            Demo Group 01
                        </a>
                        <a href="#view-demo-2" data-bs-toggle="tab">
                            Demo Group 02
                        </a>
                        <a href="#view-demo-3" data-bs-toggle="tab">
                            Demo Group 03
                        </a>
                    </div>
                    <div class="tab-content jump-2">
                        <div id="view-demo-1" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index.html">
                                                <img src="/user/assets/images/demo-img/h-1.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index.html">Home Demo 01</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-2.html">
                                                <img src="/user/assets/images/demo-img/h-2.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-2.html">Home Demo 02</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-3.html">
                                                <img src="/user/assets/images/demo-img/h-3.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-3.html">Home Demo 03</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-4.html">
                                                <img src="/user/assets/images/demo-img/h-4.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-4.html">Home Demo 04</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-5.html">
                                                <img src="/user/assets/images/demo-img/h-5.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-5.html">Home Demo 05</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-6.html">
                                                <img src="/user/assets/images/demo-img/h-6.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-6.html">Home Demo 06</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-7.html">
                                                <img src="/user/assets/images/demo-img/h-7.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-7.html">Home Demo 07</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-8.html">
                                                <img src="/user/assets/images/demo-img/h-8.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-8.html">Home Demo 08</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="discover-more-btn">
                                <a href="#">Discover More</a>
                            </div>
                        </div>
                        <div id="view-demo-2" class="tab-pane">
                            <div class="row">
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-9.html">
                                                <img src="/user/assets/images/demo-img/h-9.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-9.html">Home Demo 09</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-10.html">
                                                <img src="/user/assets/images/demo-img/h-10.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-10.html">Home Demo 10</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-11.html">
                                                <img src="/user/assets/images/demo-img/h-11.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-11.html">Home Demo 11</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-12.html">
                                                <img src="/user/assets/images/demo-img/h-12.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-12.html">Home Demo 12</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-13.html">
                                                <img src="/user/assets/images/demo-img/h-13.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-13.html">Home Demo 13</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-14.html">
                                                <img src="/user/assets/images/demo-img/h-14.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-14.html">Home Demo 14</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-15.html">
                                                <img src="/user/assets/images/demo-img/h-15.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-15.html">Home Demo 15</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-16.html">
                                                <img src="/user/assets/images/demo-img/h-16.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-16.html">Home Demo 16</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="discover-more-btn">
                                <a href="#">Discover More</a>
                            </div>
                        </div>
                        <div id="view-demo-3" class="tab-pane">
                            <div class="row">
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-17.html">
                                                <img src="/user/assets/images/demo-img/h-17.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-17.html">Home Demo 17</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-18.html">
                                                <img src="/user/assets/images/demo-img/h-18.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-18.html">Home Demo 18</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 col-sm-6">
                                    <div class="demo-item mb-40">
                                        <div class="demo-item-img">
                                            <a href="index-19.html">
                                                <img src="/user/assets/images/demo-img/h-19.jpg" alt="demo-img">
                                                <span>View Demo</span>
                                            </a>
                                        </div>
                                        <div class="demo-item-content">
                                            <h4><a href="index-19.html">Home Demo 19</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="discover-more-btn">
                                <a href="#">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="toast-container"></div>
    <!-- All JS is here
============================================ -->

    <!-- Modernizer JS -->
    <script src="/user/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="/user/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="/user/assets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="/user/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/user/assets/js/plugins/owl-carousel.js"></script>
    <script src="/user/assets/js/plugins/slick.js"></script>
    <script src="/user/assets/js/plugins/jarallax.min.js"></script>
    <script src="/user/assets/js/plugins/countdown.js"></script>
    <script src="/user/assets/js/plugins/magnific-popup.js"></script>
    <script src="/user/assets/js/plugins/instafeed.js"></script>
    <script src="/user/assets/js/plugins/tilt.js"></script>
    <script src="/user/assets/js/plugins/images-loaded.js"></script>
    <script src="/user/assets/js/plugins/isotope.js"></script>
    <script src="/user/assets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="/user/assets/js/plugins/fullpage.js"></script>
    <script src="/user/assets/js/plugins/jquery-ui.js"></script>
    <script src="/user/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/user/assets/js/plugins/easyzoom.js"></script>
    <script src="/user/assets/js/plugins/resizesensor.js"></script>
    <script src="/user/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="/user/assets/js/plugins/scrollup.js"></script>
    <script src="/user/assets/js/plugins/select2.min.js"></script>
    <script src="/user/assets/js/plugins/cookie.js"></script>
    <script src="/user/assets/js/plugins/bpopup.js"></script>
    <script src="/user/assets/js/plugins/wow.js"></script>
    <script src="/user/assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="/user/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
       function updatePaymentOptions() {
    const totalPrice = <%= cart.totalPrice %>; 
    const codOption = document.getElementById('cod');
    const codMessage = document.getElementById('codMessage');
    const codLabel = document.querySelector('label[for="cod"]'); // Get the label for the COD option
    const codUnavailableMessage = document.getElementById('codUnavailableMessage');

    if (totalPrice > 1000) {
        codOption.disabled = true; 
        codMessage.style.display = 'block'; // Show the message
        codLabel.classList.add('unavailable');
        codUnavailableMessage.style.display = 'none'; // Hide the unavailable message

        event.preventDefault() // Remove unavailable class if it exists
    } else {
        codOption.disabled = false; // Enable the COD option
        codMessage.style.display = 'none'; // Hide the message

    }
}

document.addEventListener('DOMContentLoaded', updatePaymentOptions);
function showToast(message) {
    const toast = document.createElement('div');
    toast.className = 'toast';
    toast.innerText = message;

    document.getElementById('toast-container').appendChild(toast);

    setTimeout(() => {
        toast.style.opacity = '0';
        setTimeout(() => {
            toast.remove();
        }, 500);
    }, 3000);
}

document.querySelector('.coupon-btn').addEventListener('click', openModal);

async function openModal() {
    const response = await fetch('/user/coupons'); // Adjust the path as needed
    const coupons = await response.json();

    const couponList = document.getElementById('couponList');
    couponList.innerHTML = ''; // Clear previous coupons

    coupons.forEach(coupon => {
        const li = document.createElement('li');
        li.innerHTML = `<input type="radio" name="coupon" value="${coupon.code}"> ${coupon.code} - ${coupon.description}`;
        couponList.appendChild(li);
    });

    document.getElementById('couponModal').style.display = 'block';
}

function closeModal() {
    document.getElementById('couponModal').style.display = 'none';
}

document.getElementById('applyCouponBtn').addEventListener('click', async function() {
    const selectedCoupon = document.querySelector('input[name="coupon"]:checked');
    if (!selectedCoupon) {
        showToast('Please select a coupon to apply.');
        return;
    }

    const couponCode = selectedCoupon.value;

    try {
        const response = await fetch('/user/checkout-order/apply-coupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ couponCode })
        });

        const result = await response.json();
        console.log(result);
        if (!result) {
        Swal.fire({
            icon: 'warning',
            title: "sasadasd",
            toast: true,
            position: 'top',
            timer: 3000,
            showConfirmButton: false,
        });
        return;
    }
        closeModal()
        location.reload()
    } catch (error) {
        console.error('Error applying coupon:', error);
        alert('An error occurred while applying the coupon.');
    }
});

       function validateForm(e) {
        const phone = document.getElementById('phone').value;
        const zip = document.getElementById('zip').value;

        if (phone.length !== 10 || isNaN(phone)) {
            Swal.fire("Phone number must be exactly 10 digits.");
            e.preventDefault();
            return false;
        }
        
        if (zip && (zip.length !== 6 || isNaN(zip))) {
            Swal.fire("ZIP code must be a 6-digit number.");
            e.preventDefault();
            return false;
        }

        console.log('Form validated successfully');
        return true; 
    }

    $('#addressForm').on('submit', function (e) {
        e.preventDefault();

        if (!validateForm(e)) {
            console.log('Form validation failed');
            return;
        }

        const formData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Address added!',
                        text: response.message,
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/user/checkout-order';
                        }
                    });
                }
            },
            error: function (xhr) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: xhr.responseJSON?.message || "An error occurred.",
                    confirmButtonText: 'OK'
                });
            }
        });
    });
    function placeOrder() {
    const addressId = document.querySelector('input[name="addressid"]:checked');
    if (!addressId) {
        Swal.fire({
            icon: 'warning',
            title: 'Please select an address',
            toast: true,
            position: 'top',
            timer: 3000,
            showConfirmButton: false,
        });
        return;
    }

    const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
    if (!paymentMethod) {
        Swal.fire({
            icon: 'warning',
            title: 'Please select a payment method',
            toast: true,
            position: 'top',
            timer: 3000,
            showConfirmButton: false,
        });
        return;
    }
    
  

    // const termsAndConditions = document.querySelector('input[name="termsandconditons"]:checked');
    // if (!termsAndConditions) {
    //     Swal.fire({
    //         icon: 'warning',
    //         title: 'Please agree to our terms and conditions',
    //         toast: true,
    //         position: 'top',
    //         timer: 3000,
    //         showConfirmButton: false,
    //     });
    //     return;
    // }

    const orderData = {
        addressId: addressId.value,
        paymentMethod: paymentMethod.value,
    };

    fetch('/user/place-order', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(orderData),
    })
    .then(response => response.json())
    .then(data => {
        
        if (data.success) {
            
            if (data.razorpayOrderId) {
                const options = {
    key: data.key,
    amount: data.amount,
    currency: data.currency,
    name: "LucidLayers",
    description: "Order Description",
    order_id: data.razorpayOrderId,
    handler: function (response) {
        // Payment successful
        fetch('/user/verify-payment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                addressId: orderData.addressId,
                order_id: data.razorpayOrderId,
                payment_id: response.razorpay_payment_id,
                signature: response.razorpay_signature,
            
            })
        })
        .then(res => res.json())
        .then(result => {
            if (result.success) {
                window.location.href = `/user/order/confirmation/${result.orderId}`;
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Payment verification failed.',
                    text: result.message || 'Please try again.',
                    toast: true,
                    position: 'top',
                    timer: 3000,
                    showConfirmButton: false,
                });
            }
        });
    },
    modal: {
        ondismiss: function () {
             fetch('/user/create-pending-order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    addressId: orderData.addressId,
                    order_id: data.razorpayOrderId
                }),
            })
            .then(res => res.json())
            .then(result => {
                if (result.success) {
                    Swal.fire({
                        icon: 'info',
                        title: 'Order created with status pending.',
                        text: 'Please complete your payment to confirm the order.',
                        toast: true,
                        position: 'top',
                        timer: 3000,
                        showConfirmButton: false,
                    });
                    window.location.href = `/user/order/confirmation/${result.orderId}`;
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Failed to create order.',
                        text: 'Please try again.',
                        toast: true,
                        position: 'top',
                        timer: 3000,
                        showConfirmButton: false,
                    });
                }
            });
        },
    },
    prefill: {
        name: "Customer Name",
        email: "customer@example.com",
        contact: "7012872516"
    },
    theme: {
        color: "black"
    }
};

                const rzp1 = new Razorpay(options);
                rzp1.open();
            } else {
                // If not Razorpay, redirect to confirmation page directly
                window.location.href = `/user/order/confirmation/${data.orderId}`; // Ensure orderId is returned for Pay on Delivery
            }
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error creating order. Please try again.',
                toast: true,
                position: 'top',
                timer: 3000,
                showConfirmButton: false,
            });
        }
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error placing order. Please try again.',
            toast: true,
            position: 'top',
            timer:  3000,
            showConfirmButton: false,
        });
    });
}
document.getElementById('removeCouponBtn').addEventListener('click', async function() {
    try {
        const response = await fetch('/user/checkout-order/remove-coupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        const result = await response.json();

        if (response.ok) {
            // Show success toast
            location.reload();
            Swal.fire({
                toast: true,
                icon: 'success',
                title: result.message,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            // Update the UI with the new total
            updateOrderTotal(result.newTotal);
        } else {
            // Show error toast
            Swal.fire({
                toast: true,
                icon: 'error',
                title: result.message,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            location.reload();
        }
    } catch (error) {
        console.error('Error removing coupon:', error);
        Swal.fire({
            toast: true,
            icon: 'error',
            title: 'An error occurred while removing the coupon.',
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        location.reload();
    }
});
    </script>

</body>


<!-- Mirrored from template.hasthemes.com/toro/toro/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:00 GMT -->
</html>